.contactsList {
 list-style-type: disc;
  margin-left: 50px;
}
.contactsItem {
    margin-bottom: 10px;
}
.textContact {
    font-size: 18px;
}
.button {
  margin-left: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #fff;
  cursor: pointer;
}

.button:active {
  background-color: rgb(0, 13, 255);
  color: white;
}
